[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.20.0"
python-dotenv = "==0.9.1"

[dev-packages]
black = "==18.9b0"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
