[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.19.1"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
